@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position:absolute ;
}
p{
    font-weight: 300;
    opacity: .7;
}
.top-image{
    left:-201px;
    top: -576px;
}
.bottom-image{
    right:-208px;
    bottom:-669px;
}
.centre{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:hsl(185, 75%, 39%);
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    border-radius: 25px;
    overflow: hidden;
    width: 480px;
    height: 480px;
    background-color: aliceblue;
    position:relative;
    display : flex;
    justify-content: center;
    align-items: center;
}
.card-image{
    top: 0px;
   width: 480px;
   height: 170px;
}
.victor-image{
    top: 99px;
    border-radius:80%;
    border:8px solid white;
    width: 150px;
    height: 150px;
}
.name{
   
   
    top: 260px;
    width: 182px;
    left: 147px;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}
.name h2 {
    position: relative;
    margin-right: 10px;
    font-size: 23px;
    
}
.name p{
    position: relative;
    font-size: 25px;

}



.place{
   
    right: 275px;
    top: 298px;
}

.social{
   bottom: 0px;
   width: 480px;
   height: 124px;
   padding-top: 0px;
   border-top: 1.5px solid hsl(229, 23%, 23%);
   display : flex;
    justify-content: center;
    align-items: center;
    
  


}
.followers{
    text-align: justify;
    /* top: 66px;
    right: 176px; */
    position: relative;
    height: 20px;
    right: 100px;
}
.followers h2{
    position: relative;
    top: -12px;
    left: 8px;

}.follower{
    /* top: 77px;
    right: 188px; */
    position: relative;
    bottom: 5px;
    

}.likes{
    /* top: 25px;
    right: 38px; */
    position: relative;
    height: 20px;
    left: -8px;
    text-align: justify;

}
.likes h2{
    position: relative;
    top: -12px;
    left: -10px;
}
.like{
    /* top: 37px;

    right: 22px; */
    position: relative;
    bottom: 5px;
}


.photos{
    /* top: 71px;
    right: 44px; */
    position: relative;
    height: 20px;
    text-align: justify;


}
.photos h2{

    top: -12px;
    position: relative;
    right: -70px;

}
.photo{
    position: relative;
    right: -70px;
    bottom: 5px;
}
.attribution { 
    position:relative;
    top: 30px;
    
     position:relative; 
      text-align: center;
     }
.attribution a {
    position: relative;
    font-weight: 900;
     color: hsl(64, 100%, 50%); 
     text-decoration: none;

    }
    .attribution p{
        position:relative;
        font-size: 20px;
        font-weight: 900;
    }
.attribution a:hover{
    color:white
}
@media screen and (max-width:360px)
{
p
{
    font-weight:50px;
    opacity: .5;
}
.centre
{
   
   position: relative;
   display: block;
}
.container
{
    
    height: 344px;
    width: 284px;
    top: -571px;
    right: -34px;
}
.top-image
{
    left: -509px;
    top: -387px;
    height: 700px;
    width: 700px;

}
.bottom-image
{

    bottom: -265px;
    position: relative;
    height: 700px;
    width: 700px;
    right: -149px;
}
.card-image
{
    width: 306px;
    height: 131px;
}
.victor-image
{
    width: 118px;
    height: 118px;
    top: 69px;
}
.name h2
{
    right: -107px;
    top: -63px;
    font-size: 18px;
}
.name{
    left:-50px;
}
.name p
{
   
    font-size: 18px;
}
.age
{

    top: -63px;
    right: -109px;
    font-size: 18px;
}
.place
{
    left: 119px;
    top: 228px;
}
.social
{
    
    height: 85px;
    border-top: .5px solid hsl(229, 23%, 23%);
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}
.followers
{
    text-align: justify;
    font-size: 10px;
    left: -40px;
    
}
.followers h2
{
    position: relative;
    top: -12px;
    left: 8px;
}
.like
{
   left: 10px; 
   
}
.likes h2{
    position: relative;
    top: -12px;
    left: 9px;
    font-size: 15px;
}
.photos
{
    font-size: 10px;
    left: -26px;

}
.attribution
{ 
    
    top: 496px;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    position: absolute
}
.attribution a
{
    position: relative;
    font-weight: 900;
    color: hsl(64, 100%, 50%); 
    text-decoration: none;

}
.attribution a:hover
{
    color:white
}
}
@media screen and (min-width:361px) and (max-width:600px)
{
    .top-image{
        left: -624px;
        top: -694px;
    }
    .bottom-image{
        bottom: -640px;
        right: -603px;

    }
    .container
    {
        width: 358px;
        height: 443px;
}
    .name{
        left: 55px;

    }
    .name h2{
        left: 22px;
    }
    .age{
        left: 20px;
       

    }
    .place{
        right: 208px;
        top: 297px;
    }
    
    .social{
        font-size: 12px;
        height: 92px;
    }
    .followers{
        left: -62px;
    }
    .photos{
        left: -25px;
    }
        


}



    
  

    

   

